In [1]:
#importing regular expression library  
import re

# Re.match()

In [45]:
#to find the first occurrence of the letter 'I' in the string 
 
sentence1 = re.match (r'I', 'I am learning text analytics') 
print (sentence1)

<re.Match object; span=(0, 1), match='I'>

In [46]:
#to find the first occurrence of the letter 'v' in the string 
 
sentence2 = re.match (r'v', 'I am learning text analytics') 
print (sentence2)

None

In [47]:
#to find the first occurrence of the letter 'am' in the string 
 
sentence3 = re.match (r'am', 'I am learning text analytics') 
print (sentence3)

None

# Re.search()

In [5]:
sentence4 = re.search(r'am', 'I am learning text analytics')
print (sentence4)

<re.Match object; span=(2, 4), match='am'>

In [50]:
sentence5 = re.search(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence5)

#re.search() only returns the first occurence of the word in the string

<re.Match object; span=(2, 4), match='am'>

# Re.findall()

In [49]:
sentence6 = re.findall(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence6)

#To show the number of 'am' in the string

['am', 'am']

# Re.split()

In [8]:
sentence7 = re.split(r'and', 'I am learning text analytics and am enjoying it')  
print (sentence7)

['I am learning text analytics ', ' am enjoying it']

In [9]:
sentence8 = re.split(r'am', 'I am learning text analytics and am enjoying it')  
print (sentence8)

['I ', ' learning text analytics and ', ' enjoying it']

In [10]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=1) 
print (sentence9)

['I ', ' learning text analytics and am enjoying it']

In [11]:
sentence9 = re.split(r'am', 'I am learning text analytics and am enjoying it', maxsplit=2) 
print (sentence9)

['I ', ' learning text analytics and ', ' enjoying it']

In [12]:
sentence10 = re.split(r'am', 'I am learning text analytics, I am enjoying it and I am going to ace it', maxsplit=3) 
print (sentence10)

['I ', ' learning text analytics, I ', ' enjoying it and I ', ' going to ace it']

# Re.sub()

In [13]:
sentence11 = re.sub(r'I', 'we', 'I like text analytics and I enjoy learning it') 
print (sentence11)

we like text analytics and we enjoy learning it

# Metacharacter

In [43]:
#using Metacharacter ?
str = "poppy likes to copy-cat. bobby likes to copy things"

result1 = re.findall('copy-?', str)
print(result1)

['copy-', 'copy']

In [44]:
#using Metacharacter { }
str = "poppy likes to read boks. bobby likes to read books. ronnie likes to read boooks. they all love boooooks"

result2 = re.findall('bo{1,3}k', str)
print(result2)

['bok', 'book', 'boook']

In [53]:
#using Metacharacter +

str2 = "Numbers are 8, 23, 886, 4567, 78453"
result3 = re.findall(r"\d\d+", str2)
print(result3)

#Plus sign to match 1 or more repetitions

['23', '886', '4567', '78453']

In [54]:
#using Metacharacter *

str3  = "Numbers are 8, 23, 886, 4567, 78453"
result4 = re.findall(r"\d\d*", str3)
print(result4)

['8', '23', '886', '4567', '78453']

In [15]:
#using Metacharacter .
sentence1 = re.findall (r'.', 'I am learning text analytics') 
print (sentence1) 
 
# Each letter is selected including spaces

['I', ' ', 'a', 'm', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', ' ', 't', 'e', 'x', 't', ' ', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [16]:
#using Metacharacter \w
sentence2 = re.findall (r'\w', 'I am learning text analytics')
print (sentence2) 
 
# Each letter is selected excluding spaces

['I', 'a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 't', 'e', 'x', 't', 'a', 'n', 'a', 'l', 'y', 't', 'i', 'c', 's']

In [17]:
#using Metacharacter \w*
sentence3 = re.findall (r'\w*', 'I am learning text analytics') 
print (sentence3) 
 
# Each word is selected including spaces

['I', '', 'am', '', 'learning', '', 'text', '', 'analytics', '']

In [18]:
#using Metacharacter \w+
sentence4 = re.findall (r'\w+', 'I am learning text analytics') 
print (sentence4) 
 
# Each word is selected excluding spaces

['I', 'am', 'learning', 'text', 'analytics']

In [19]:
#using Metacharacter ^\w+
sentence5 = re.findall (r'^\w+', 'I am learning text analytics') 
print (sentence5) 
 
# First word is selected

['I']

In [20]:
#using Metacharacter \w+$
sentence6 = re.findall (r'\w+$', 'I am learning text analytics') 
print (sentence6) 
 
# Last word is selected

['analytics']

In [21]:
#using Metacharacter \w\w
sentence7 = re.findall (r'\w\w', 'I am learning text analytics') 
print (sentence7) 
 
# 2 consecutive characters are selected

['am', 'le', 'ar', 'ni', 'ng', 'te', 'xt', 'an', 'al', 'yt', 'ic']

In [22]:
#using Metacharacter \b\w\w
sentence8 = re.findall (r'\b\w\w', 'I am learning text analytics') 
print (sentence8) 
 
# 2 consecutive characters in a string are selected

['am', 'le', 'te', 'an']

# Extract domain type of email address

In [23]:
sentence9 = re.findall (r'@\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence9) 
 
# Only the first word in the domain name is selected

['@text', '@analytics', '@textanalytics']

In [24]:
sentence10 = re.findall (r'@\w+.\w+','user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence10)

# Only the first two word in the domain name is selected divided by .

['@text.com', '@analytics.gov', '@textanalytics.edu']

In [25]:
sentence11 = re.findall (r'@\w+.\w+.\w+', 'user@text.com.my, user@analytics.gov.my, user@textanalytics.edu.my')
print (sentence11) 
 
# The full domain name is selected

['@text.com.my', '@analytics.gov.my', '@textanalytics.edu.my']

In [28]:
sentence12 = re.findall (r'@\w+.(\w+.\w+)', 'user@text.com.my, user@analytics.gov.my')
print (sentence12) 
 
# To display the type of domain (the last two domain name) -- use bracket

['com.my', 'gov.my']

# Extracting date

In [29]:
sentence13 = re.findall (r'\d{2}-\d{2}-\d{2}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence13) 
 
# To display the date in the format of dd-mm-yy

['15-05-20', '20-08-20']

In [32]:
sentence14 = re.findall (r'\d{2}-\d{2}-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence14)
 
# To display the date in the format of dd-mm-yyyy

['15-05-2001', '20-08-2000']

In [33]:
sentence15 = re.findall (r'\d{2}-\d{2}-(\d{4})', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence15) 
 
# Only the year will be displayed -- use bracket

['2001', '2000']

In [58]:
sentence15 = re.findall (r'(\d{2}-\d{2})-\d{4}', 'Ahmad BIT(IS) 15-05-2001, Johnny BCS(SE) 20-08-2000')
print (sentence15) 
 
# Only the day and month will be displayed -- use bracket

['15-05', '20-08']

# Selecting words that starts with vowels in string

In [56]:
sentence16 = re.findall (r'[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence16)

# aeiouAEIOU - any capital or small letters
# A sequence that starts with a vowel followed by one or more characters are selected

['ave', 'eight', 'ory', 'ooks', 'often', 'ead', 'em', 'in', 'afternoon']

In [36]:
sentence17 = re.findall (r'\b[aeiouAEIOU]\w+', 'I have eight story books. I often read them in afternoon')
print (sentence17) 
 
# Only words that start with vowels are selected

['eight', 'often', 'in', 'afternoon']

In [38]:
sentence18 = re.findall (r'\b[^aeiouAEIOU\s]\w+', 'I have eight story books. I often read them in the afternoon')
print (sentence18) 
 
# Only words that start with non-vowels are selected

['have', 'story', 'books', 'read', 'them', 'the']

# Splitting a string with multiple delimiters

In [39]:
sentence19 = re.split (r'[;,]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence19) 
 
# split the words based on the delimiters semi colon and comma

['I have many story books', ' colouring books', ' I often read them in the afternoon.']

In [41]:
sentence20 = re.split (r'[;,\s]', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence20) 
 
# split the words based on the delimiters space, semi colon and comma

['I', 'have', 'many', 'story', 'books', '', 'colouring', 'books', '', 'I', 'often', 'read', 'them', 'in', 'the', 'afternoon.']

# Substituting delimiters

In [42]:
sentence21 = re.sub (r'[;,]', '.', 'I have many story books, colouring books; I often read them in the afternoon.')
print (sentence21) 

# Substitute the delimiters semi colon and comma with fullstop

I have many story books. colouring books. I often read them in the afternoon.